<div class="container">
  <div class="row">

    <div class="registrations col-11 col-md-6 bg-light my-4 border mx-auto text-center p-5">
      <h2 class="my-3">新規登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), id: "form") do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field text-center">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name",
            class: "validate[required, minSize[4]]" %>
        </div><br>

        <div class="field text-center">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email",
            class: "validate[required, custom[email]]" %>
        </div><br>

        <div class="field text-center">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(半角英数字<%= @minimum_password_length %>字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",
            class: "validate[required, custom[onlyLetterNumber], minSize[6]]"%>
        </div><br>

        <div class="field text-center">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
            class: "validate[required, equals[user_password]" %>
        </div><br>

        <div class="actions my-1">
          <%= f.submit "登録", class:"btn btn-secondary" %>
        </div>
      <% end %><br>

      <%= render "devise/shared/links" %>
    </div>


  </div>
</div>

<script>
// jQueryバリデーション
  $(document).ready(function(){
    $("#new_user").validationEngine({

      promptPosition: "topRight",

      'custom_error_messages': {
        '#user_name': {
          'required': {
            'message': '必須入力内容'
          },
          'minSize': {
            'message': '4−12文字内'
          }
        },
        '#user_email': {
          'required': {
            'message': '必須入力内容'
          },
          'custom[email]': {
            'message': '「@」のemail形式'
          }
        },
        '#user_password': {
          'required': {
            'message': '必須入力内容'
          },
          'minSize': {
            'message': '半角英数字6文字以上'
          },
          'custom[onlyLetterNumber]': {
            'message': '半角英数字のみ'
          }
        },
        '#user_password_confirmation': {
          'required': {
            'message': '必須入力内容'
          },
          'equals': {
            'message': 'パスワードが異なります'
          }
        }
      }
    });
  });
</script>

