<%= render "homes/sidebar" %>

<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-2 col-md-1" style="height: 1px;"></div>

    <div class="col-10 col-md-8 m-2 mx-auto">
      <h3><%= @user.name %></h3>
      <br>
      <h3>フォロー( <%= @user.followings.count %> )</h3>
      <div class="mx-auto my-2">
        <%= paginate @users %>
      </div>
      <% if @user.followings.exists? %>
        <table class="table table-hover bg-light">
          <tbody>
            <% @users.each do |user|%>
              <tr>
                <td>
                  <%= link_to user_path(user), class:"text-dark" do %>
                    <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:"50x50", class:"border" %>
                    <span>
                      <%= user.name %>
                    </span>
                  <% end %>
                </td>
                <!--<td>-->
                <!--  % if current_user.id != user.id %>-->
                <!--    %= render "messages/message_btn", user: user, haveRoom: @haveRoom, roomId: @roomId, entry: @entry %>-->
                <!--  % else %>-->
                <!--  % end %>-->
                <!--</td>-->
                <td>
                  <%= render "relationships/follow", user: user %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% else %>
        <p>ユーザーはいません。</p>
      <% end %>
      <div class="mx-auto my-2">
        <%= paginate @users %>
      </div>
    </div>

  </div>
</div>