<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-2 col-md-1" style="height: 1px;"></div>
    <div class="col-10 col-md-11 mx-auto mb-4">
      <h3>ユーザーページ</h3>
      <div class="row border m-2 p-2 bg-light">
        <div class="col-12 col-md-4">
          <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class:"post_or_user_image border" %>
          <div class="row">
            <div class="col-12 text-right">
              <%= render "relationships/follow", user: @user %>
              <% unless @user.id == current_user.id %>
                <% if (current_user.is_followed_by @user) && (@user.is_followed_by current_user) %>
                  <% if @haveRoom == true %>
                    <%= link_to "DM画面", room_path(@roomId), class:"my-2 btn btn-sm btn-outline-secondary" %>
                  <% else %>
                    <%= form_with model:@room, local: true do |f| %>
                      <%= fields_for @entry do |e| %>
                        <%= e.hidden_field :user_id, value: @user.id %>
                      <% end %>
                      <%= f.submit "DM画面", class:"my-2 btn btn-sm btn-outline-secondary" %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              <% if @user.id == current_user.id %>
                <%= link_to edit_user_path(@user), class:"my-2 btn btn-sm btn-outline-secondary" do %>
                  <i class="fas fa-user-cog">プロフィール編集</i>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-right">
              <%= link_to user_following_path(@user), class:"text-dark mx-2" do %>
                <strong><%= @user.followings.count %></strong> フォロー
              <% end %>
              <%= link_to user_followed_path(@user), class:"text-dark mx-2" do %>
                <strong><%= @user.followers.count %></strong> フォロワー
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <p><strong>アカウント名</strong><br><%= @user.name %>さん</p>
          <p><strong>お住まい</strong><br><%= @user.prefecture %></p>
          <p><strong>自己紹介</strong><br><%= safe_join(@user.introduction.to_s.split("\n"),tag(:br)) %></p>
          <p><strong>バイク熟練度</strong><br><%= @user.skill %></p>
          <p><strong>マイバイク</strong><br><%= @user.mybike %></p>
        </div>
        <div class="col-4"></div>
      </div>
    </div>

    <div class="container-fluid">
      <%= render "posts/post_lists", posts: @posts, title:"投稿一覧" %>
    </div>

  </div>
</div>