<div class="sidebar col-3 col-sm-1 text-center">
  <% if user_signed_in? %>
    <%= link_to search_index_posts_path, 'data-turbolinks': false do %>
      <div class="sidebar-icon w-100 border">
        <i class="fas fa-search"></i>
        <p>投稿検索</p>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, 'data-turbolinks': false do %>
      <div class="sidebar-icon w-100 border">
        <i class="fas fa-search"></i>
        <p>投稿検索</p>
      </div>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to new_post_path, 'data-turbolinks': false do %>
      <div class="sidebar-icon w-100 border">
        <i class="fas fa-biking"></i>
        <p>新規投稿</p>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <div class="sidebar-icon w-100 border">
        <i class="fas fa-biking"></i>
        <p>新規投稿</p>
      </div>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to favorites_index_path(current_user) do %>
      <div class="sidebar-icon w-100 border">
        <i class="fas fa-star"></i>
        <p>お気に入り</p>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <div class="sidebar-icon w-100 border">
        <i class="fas fa-star"></i>
        <p>お気に入り</p>
      </div>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <div class="sidebar-icon w-100 border">
        <i class="fas fa-gas-pump"></i>
        <p>マイページ</p>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <div class="sidebar-icon w-100 border">
        <i class="fas fa-gas-pump"></i>
        <p>マイページ</p>
      </div>
    <% end %>
  <% end %>

</div>