<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-1" style="height: 1px;"></div>
    <div class="top col-11 my-2 border">
      <div id="box">
        <div id="images">
          <div class="image1">
          </div>
          <div class="image2">
          </div>
          <div class="image3">
          </div>
          <div class="image4">
          </div>
          <div class="image5">
          </div>
        </div>
      </div>
      <div class="introduction text-center text-light">
        <h4>バイク専用SNS「KoKo-iiYo」へようこそ</h4>
        <br><br>
        <p>あなたのバイク、おすすめスポットの写真を投稿しましょう。</p>
        <% unless user_signed_in? %>
          <p>ご利用にはユーザー登録が必要となります。登録は<%= link_to new_user_registration_path do %>こちら<% end %>から</p>
        <% end %>
        <br>
        <p>交通規則を遵守し、安全なバイクライフを過ごしましょう！</p>
        <% if user_signed_in? %>
          <br><br>
          <p><strong>新着の投稿、人気の投稿一覧</strong><i class="far fa-arrow-alt-circle-down"></i>を確認しましょう。</p>
        <% end %>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="row">
      <div class="col-1" style="height: 1px;"></div>
      <div class="col-11 my-2 p-2 border">
        <%= link_to posts_path do %>
          <h3>新着の投稿一覧</h3>
        <% end %>
        <div class="row">
          <% @posts_new.first(5).each do |post| %>
            <div class="col-2 mx-auto p-2 w-100 border">
              <%= link_to post_path(post) do %>
                <%= attachment_image_tag post, :image, :fill, 200, 150, fallback: "no_image.jpg", size:"200x150", class:"border" %>
              <% end %>
              <div id="star-rate-<%= post.id %>"></div>
              <script>
                $('#star-rate-<%= post.id %>').empty();
                $('#star-rate-<%= post.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= post.rate %>,
                });
              </script>
              投稿：<%= link_to user_path(post) do %>
                <%= post.user.name %>さん
              <% end %>
              <br>
              <strong>タイトル：
                <%= link_to post_path(post) do %>
                  <%= post.title %>
                <% end %>
              </strong>
              (<%= post.created_at.strftime('%Y/%m/%d %H:%M') %>)
              <br>
              場所：<%= post.post_prefecture %>
              <div>
                <span id="favorite_buttons_<%= post.id %>">
                  <%= render "favorites/favorite", post: post %>
                </span>
                <span>
                  <i class="far fa-eye ml-3"></i><%= post.impressions_counts.count %>
                </span>
              </div>
              <span>コメント数：<%= post.comments.count %></span>
            </div>
          <% end %>
        </div>

        <%= link_to ranking_index_path do %>
          <h3 class="mt-5">人気の投稿一覧</h3>
        <% end %>
        <div class="row">
          <% @posts_favorite.first(5).each do |post| %>
            <div class="col-2 mx-auto p-2 w-100 border">
              <%= link_to post_path(post) do %>
                <%= attachment_image_tag post, :image, :fill, 200, 150, fallback: "no_image.jpg", size:"200x150", class:"border" %>
              <% end %>
              <div id="star-rate2-<%= post.id %>"></div>
              <script>
                $('#star-rate2-<%= post.id %>').empty();
                $('#star-rate2-<%= post.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= post.rate %>,
                });
              </script>
              投稿：<%= link_to user_path(post) do %>
                <%= post.user.name %>さん
              <% end %>
              <br>
              <strong>タイトル：
                <%= link_to post_path(post) do %>
                  <%= post.title %>
                <% end %>
              </strong>
              (<%= post.created_at.strftime('%Y/%m/%d %H:%M') %>)
              <br>
              場所：<%= post.post_prefecture %>
              <div>
                <span id="favorite_buttons_<%= post.id %>">
                  <%= render "favorites/favorite", post: post %>
                </span>
                <span>
                  <i class="far fa-eye ml-3"></i><%= post.impressions_counts.count %>
                </span>
              </div>
              <span>コメント数：<%= post.comments.count %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
  <% end %>

</div>