<%= render "homes/sidebar" %>

<div class="container-fluid">

  <%= render "homes/top_intro" %>

  <% if user_signed_in? %>
    <div class="row">
      <div class="col-2 col-md-1" style="height: 1px;"></div>
      <div class="col-10 col-md-11 my-2 p-2">
        <%= link_to posts_path, 'data-turbolinks': false do %>
          <h3 class="sub-title">新着の投稿</h3>
        <% end %>
        <div class="row">
          <% @posts_new.first(4).each do |post| %>
            <div class="top-posts col-11 col-md-5 my-2 mx-auto py-2 w-100 border">
              <%= link_to post_path(post), 'data-turbolinks': false do %>
                <%= attachment_image_tag post, :image, fallback: "no_image.jpg", class:"post_or_user_image border" %>
                <div class="fontawesomes">
                  <strong>
                    <span id="favorite_buttons_<%= post.id %>">
                      <% if post.favorited_by?(current_user) %>
                        <span class="text-danger">♥<%= post.favorites.count %></span>
                      <% else %>
                        ♡<%= post.favorites.count %>
                      <% end %>
                    </span>
                    <span>
                      <i class="far fa-eye ml-3"></i><%= post.impressions_counts.count %>
                    </span>
                    <span>
                      <i class="far fa-comments ml-3"></i><%= post.comments.count %>
                    </span>
                  </strong>
                  <span>
                    <i class="fas fa-clock ml-3"></i>(<%= post.created_at.strftime('%Y/%m/%d %H:%M') %>)
                  </span>
                  <div id="star-rate-<%= post.id %>"></div>
                  <script>
                    $('#star-rate-<%= post.id %>').empty();
                    $('#star-rate-<%= post.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: <%= post.rate %>,
                    });
                  </script>
                </div>
                <div class="row">
                  <div class="col-7">
                    <strong>タイトル</strong><br>
                    『<%= post.title %>』
                    <br>
                    <strong>場所</strong><br>
                    <%= post.post_prefecture %>
                    <br>
                    <strong>おすすめのポイント</strong><br>
                    <%= post.body.truncate(50) %>
                  </div>
                  <div class="col-5">
                    <strong>投稿</strong><br>
                    <%= attachment_image_tag post.user, :profile_image, fallback: "no_image.jpg", class:"post_or_user_image border" %>
                    <%= post.user.name %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= link_to posts_path, 'data-turbolinks': false do %>
          <h5 class="sub-title m-4 text-right"><i class="fas fa-arrow-circle-right"></i> 新着の投稿一覧へ</h5>
        <% end %>

        <%= link_to ranking_index_path, 'data-turbolinks': false do %>
          <h3 class="sub-title">人気の投稿</h3>
        <% end %>
        <div class="row">
          <% @posts_favorite.first(4).each do |post| %>
            <div class="top-posts col-11 col-md-5 my-2 mx-auto py-2 w-100 border">
              <%= link_to post_path(post), 'data-turbolinks': false do %>
                <%= attachment_image_tag post, :image, fallback: "no_image.jpg", class:"post_or_user_image border" %>
                <div class="fontawesomes">
                  <strong>
                    <span id="favorite_buttons2_<%= post.id %>">
                      <% if post.favorited_by?(current_user) %>
                        <span class="text-danger">♥<%= post.favorites.count %></span>
                      <% else %>
                        ♡<%= post.favorites.count %>
                      <% end %>
                    </span>
                    <span>
                      <i class="far fa-eye ml-3"></i><%= post.impressions_counts.count %>
                    </span>
                    <span>
                      <i class="far fa-comments ml-3"></i><%= post.comments.count %>
                    </span>
                  </strong>
                  <span>
                    <i class="fas fa-clock ml-3"></i>(<%= post.created_at.strftime('%Y/%m/%d %H:%M') %>)
                  </span>
                  <div id="star-rate2-<%= post.id %>"></div>
                  <script>
                    $('#star-rate2-<%= post.id %>').empty();
                    $('#star-rate2-<%= post.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: <%= post.rate %>,
                    });
                  </script>
                </div>
                <div class="row">
                  <div class="col-7">
                    <strong>タイトル</strong><br>
                    『<%= post.title %>』
                    <br>
                    <strong>場所</strong><br>
                    <%= post.post_prefecture %>
                    <br>
                    <strong>おすすめのポイント</strong><br>
                    <%= post.body.truncate(50) %>
                  </div>
                  <div class="col-5">
                    <strong>投稿</strong><br>
                    <%= attachment_image_tag post.user, :profile_image, fallback: "no_image.jpg", class:"post_or_user_image border" %>
                    <%= post.user.name %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= link_to ranking_index_path, 'data-turbolinks': false do %>
          <h5 class="sub-title m-4 text-right"><i class="fas fa-arrow-circle-right"></i> 人気の投稿一覧へ</h5>
        <% end %>
        <div style="height: 50px;"></div>


      </div>
    </div>
  <% else %>
  <% end %>

</div>