<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-2 col-md-1" style="height: 1px;"></div>
    <div class="col-10 col-md-11 my-2 mr-auto">
      <h3 class="my-3">メッセージ</h3>
      <div class="col-12 col-md-10 bg-light my-3 mx-auto border">
        <div id="messages_area">
          <%= render 'messages/messages', messages: @messages %>
        </div>
        <div class="new_messages my-3 mx-1 text-right">
          <%= form_with model:@message, remote: true do |f| %>
            <%= f.text_area :content, class:"text_area", placeholder: "メッセージを入力して下さい。" %>
            <%= f.hidden_field :room_id, value: @room.id %><br>
            <%= f.submit "送信" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>