<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-1" style="height: 1px;"></div>

    <div class="col-11 my-2 border mx-auto">
      <h3>投稿編集</h3>
      <div class="row">

        <div class="col-3 m-2 border">
          <%= form_with model:@post, local: true do |f| %>
            <p>タイトル</p>
            <%= f.text_field :title, placeholder: @post.title %>
            <p>スポットの都道府県</p>
            <%= f.select :post_prefecture, Post.post_prefectures.keys.to_a, {}, placeholder: @post.post_prefecture, class:"mb-3" %>
            <p>おすすめポイント</p>
            <%= f.text_area :body, placeholder: @post.body %>
            <p>写真選択</p>
            <%= f.attachment_field :image %>
            <%= attachment_image_tag @post, :image, :fill, 300, 300, fallback: "no_image.jpg", size:"300x300", class:"my-2 border" %>
            <div class="my-5">
              <%= f.submit "編集", class:"btn btn-outline-secondary my-2" %>
              <%= link_to "削除", post_path(@post), method: :delete, class:"btn btn-outline-secondary ml-3" %>
            </div>
          <% end %>
        </div>

        <div class="col-8 my-2 mx-auto border" >
          <%= render "maps/index" %>
        </div>

      </div>

    </div>
  </div>
</div>