<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-2 col-md-1" style="height: 1px;"></div>
    <div class="col-10 col-md-11 px-1 my-2 mx-auto">
      <h3>投稿編集</h3>

      <%= render 'layouts/flash_post', post: @post %>

      <div class="row border m-2 p-2 bg-light">

        <%= form_with model:@post, local: true do |f| %>
          <div class="row">
            <div class="col-10 col-md-7">
              <p class="my-2"><strong>写真選択</strong></p>
                <%= f.attachment_field :image %>
              <p class="my-2">プレビュー</p>
                <%= attachment_image_tag @post, :image, fallback: "no_image.jpg", class:"post_or_user_image my-2 border", id:"preview" %>
              <script>
                $('#post_image').on('change', function (e) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
                      $("#preview").attr('src', e.target.result);
                  }
                  reader.readAsDataURL(e.target.files[0]);
                });
              </script>
            </div>
          </div>
          <div class="row">
            <div class="col-10 col-md-6">
              <p class="my-2"><strong>タイトル</strong></p>
              <%= f.text_field :title %>
              <!--評価機能-->
              <p class="my-2"><strong>評価</strong></p>
              <span id="edit-star-<%= @post.id %>" class="ml-3">
                <%= f.hidden_field :rate, id: :review_star %>
              </span>
              <script>
                $('#edit-star-<%= @post.id %>').raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  score: '<%= @post.rate %>',
                  scoreName: 'post[rate]',
                  half: true,
                });
              </script>
              <!--ここまで-->
              <p class="my-2"><strong>都道府県</strong></p>
                <%= f.select :post_prefecture, Post.post_prefectures.keys.to_a, {}, class:"mb-3" %>
              <p class="my-2"><strong>おすすめポイント</strong></p>
                <%= f.text_area :body, class:"text_area" %>
              <%= f.hidden_field :lat,:value => @post.lat, id: :lat %>
              <%= f.hidden_field :lng,:value => @post.lng, id: :lng %>
            </div>
          </div>

          <div class="row">
            <div class="col-12" >
              <p class="my-2"><strong>スポット位置指定</strong></p>
              <input id="address" type="textbox" value="">
              <input type="button" value="検索" onclick="codeAddress()">
              <br>
              (検索後、マーカーをドラック＆ドロップで調整)
              <div class="border my-2" id='map'></div>
            </div>
          </div>

          <style>
            #map {
              height: 500px;
              width: 100%;
            }
          </style>

          <script>

          //初期マップの設定
          let map
          let marker
          function initMap(){
            geocoder = new google.maps.Geocoder()

            map = new google.maps.Map(document.getElementById('map'), {
              center:  {lat: <%= @post.lat %>, lng: <%= @post.lng %> },
              zoom: 13,
            });

            marker = new google.maps.Marker({ //GoogleMapにマーカーを落とす
              position: {lat: <%= @post.lat %>, lng: <%= @post.lng %> }, //マーカーを落とす位置を決める（値はDBに入っている）
              map: map //マーカーを落とすマップを指定
            });

          }

          //検索後のマップ作成
          let geocoder
          let aft
          function codeAddress(){
            let inputAddress = document.getElementById('address').value;
            geocoder.geocode( { 'address': inputAddress}, function(results, status) {
              if (status == 'OK') {
                  //マーカーが複数できないようにする
                  if (aft == true){
                      marker.setMap(null);
                  }

                  //新しくマーカーを作成する
                  map.setCenter(results[0].geometry.location);
                      marker = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location,
                      draggable: true // ドラッグ可能にする
                  });

                  //二度目以降か判断
                  aft = true

                  //検索した時に緯度経度を入力する
                  document.getElementById('lat').value = results[0].geometry.location.lat();
                  document.getElementById('lng').value = results[0].geometry.location.lng();

                  // マーカーのドロップ（ドラッグ終了）時のイベント
                  google.maps.event.addListener( marker, 'dragend', function(ev){
                      // イベントの引数evの、プロパティ.latLngが緯度経度
                      document.getElementById('lat').value = ev.latLng.lat();
                      document.getElementById('lng').value = ev.latLng.lng();
                  });
              } else {
                alert('該当する結果がありませんでした：' + status);
              }
            });
          }

          </script>

          <div class="my-5">
            <%= f.submit "編集", class:"btn btn-outline-secondary" %>
            <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "投稿を削除しますか？"}, class:"btn btn-outline-danger ml-3" %>
          </div>
        <% end %>

        <!--地図検索機能-->

    </div>
  </div>
</div>






