<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-1" style="height: 1px;"></div>

    <div class="col-11 my-2 border mx-auto">
      <h3>新規投稿</h3>
      <div class="row">

        <div class="col-3 bg-light py-2 m-2 border">
          <%= form_with model:@post, local: true do |f| %>
            <p class="mb-2">タイトル</p>
            <%= f.text_field :title %>

            <!--評価機能-->
            <p class="mb-2 mt-4">評価</p>
            <span id="star" class="ml-3">
              <%= f.hidden_field :rate, id: :review_star %>
            </span>
            <script>
              $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'post[rate]',
                half: true,
              });
            </script>
            <!--ここまで-->

            <p class="mb-2 mt-4">スポットの都道府県</p>
            <%= f.select :post_prefecture, Post.post_prefectures.keys.to_a, {}, class:"mb-3" %>
            <p class="mb-2 mt-4">緯度</p>
            <%= f.text_field :lat,:value =>"(マーカー指定)", id: :lat %>
            <p class="mb-2 mt-4">経度</p>
            <%= f.text_field :lng,:value =>"(マーカー指定)", id: :lng %>
            <p class="mb-2 mt-4">おすすめポイント</p>
            <%= f.text_area :body %>
            <p class="mb-2 mt-4">写真選択</p>
            <%= f.attachment_field :image %>
            <div class="my-5">
              <%= f.submit "投稿" %>
            </div>
          <% end %>
        </div>

        <!--地図検索機能-->
        <div class="col-8 bg-light py-2 my-2 mx-auto text-center border" >
          <p>地図検索</p>
          <input id="address" type="textbox" value="">
          <input type="button" value="検索" onclick="codeAddress()">
          <p>検索後、マーカーをドラック＆ドロップで位置の調整ができます。<p>
          <div id='map'></div>
        </div>

        <style>
          #map {
            height: 600px;
            width: 100%;
          }
        </style>

        <script>
        //初期マップの設定
        let map
        let marker
        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center:  {lat: 35.6803997, lng:139.7690174},  //東京
            zoom: 16,
            draggable: true
          });

        }

        //検索後のマップ作成
        let geocoder
        let aft
        function codeAddress(){
          let inputAddress = document.getElementById('address').value;
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
                //マーカーが複数できないようにする
                if (aft == true){
                    marker.setMap(null);
                }

                //新しくマーカーを作成する
                map.setCenter(results[0].geometry.location);
                    marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    draggable: true // ドラッグ可能にする
                });

                //二度目以降か判断
                aft = true

                //検索した時に緯度経度を入力する
                document.getElementById('lat').value = results[0].geometry.location.lat();
                document.getElementById('lng').value = results[0].geometry.location.lng();

                // マーカーのドロップ（ドラッグ終了）時のイベント
                google.maps.event.addListener( marker, 'dragend', function(ev){
                    // イベントの引数evの、プロパティ.latLngが緯度経度
                    document.getElementById('lat').value = ev.latLng.lat();
                    document.getElementById('lng').value = ev.latLng.lng();
                });
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initMap" async defer></script>

      </div>

    </div>
  </div>
</div>