<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-1" style="height: 1px;"></div>

    <div class="col-11 my-2 border mx-auto">
      <h3>新規投稿</h3>
      <div class="row">

        <div class="col-3 m-2 border">
          <%= form_with model:@post, local: true do |f| %>
            <p class="mb-2">タイトル</p>
            <%= f.text_field :title %>

            <!--評価機能-->
            <p class="mb-2 mt-4">評価</p>
            <span id="star" class="ml-3">
              <%= f.hidden_field :rate, id: :review_star %>
            </span>
            <script>
              $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'post[rate]',
                half: true,
              });
            </script>
            <!--ここまで-->

            <p class="mb-2 mt-4">スポットの都道府県</p>
            <%= f.select :post_prefecture, Post.post_prefectures.keys.to_a, {}, class:"mb-3" %>
            <p class="mb-2 mt-4">おすすめポイント</p>
            <%= f.text_area :body %>
            <p class="mb-2 mt-4">写真選択</p>
            <%= f.attachment_field :image %>
            <div class="my-5">
              <%= f.submit "投稿" %>
            </div>
          <% end %>
        </div>

        <div class="col-8 my-2 mx-auto border" >
          <%= render "maps/index" %>
        </div>

      </div>

    </div>
  </div>
</div>