<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-1" style="height: 1px;"></div>

    <div class="col-11 my-2 border mx-auto">
      <h3>投稿検索</h3>
        <div class="container-fluid bg-light m-2 border">
          <div class="search_form">
            <%= search_form_for @keyword, url:search_posts_path, class:"p-2" do |f| %>
              <%= f.text_field :title_or_body_cont %>
              <%= f.submit '検索' %>
            <% end %>
          </div>
        </div>

        <% if @keyword.present? %>
          <div class="container-fluid bg-light m-2 border">
            <div class="search_result">
              <%= render "posts/post_lists", posts: @posts %>
            </div>
          </div>
        <% else %>
        <% end %>
    </div>

  </div>
</div>