<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-1" style="height: 1px;"></div>

    <div class="col-11 my-2 border mr-auto">
      <h3>投稿詳細</h3>
      <div class="row">

        <div class="col-5 bg-light m-2 p-2 border">
          <div>
            <%= attachment_image_tag @post, :image, :fill, 400, 400, fallback: "no_image.jpg", size:"400x400", class:"mx-auto border" %>
          </div>
          <div class="my-3">
            <span id="favorite_buttons_<%= @post.id %>">
              <%= render "favorites/favorite", post: @post %>
            </span>
            <span>
              <i class="far fa-eye ml-3"></i><%= @post.impressions_counts.count %>
            </span>
          </div>
          <strong>投稿：<%= link_to user_path(@post.user_id) do %>
            <%= @post.user.name %>さん
          <% end %></strong>
          <br><br>
          <strong>タイトル</strong><br>
          <%= @post.title %><br><br>
          <strong>おすすめ度</strong>
          <div id="star-rate-<%= @post.id %>"></div>
            <script>
              $('#star-rate-<%= @post.id %>').empty();
              $('#star-rate-<%= @post.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= @post.rate %>,
              });
            </script>
          <br>
          <strong>場所</strong><br>
          <%= @post.post_prefecture %><br><br>
          <strong>おすすめポイント</strong><br>
          <%= @post.body %><br><br>
          <% if @post.user == current_user %>
            <%= link_to "編集", edit_post_path(@post), 'data-turbolinks': false, class:"btn btn-outline-secondary"%>
          <% end %>
        </div>

        <div class="col-5 bg-light m-2 p-2 border">
          <div id='map'></div>
        </div>

        <style>
          #map {
            height: 600px;
            width: 100%;
          }
        </style>

        <script>

        //初期マップの設定
        let map
        let marker
        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center:  {lat: <%= @post.lat %>, lng: <%= @post.lng %> },
            zoom: 16,
          });

          marker = new google.maps.Marker({ //GoogleMapにマーカーを落とす
            position: {lat: <%= @post.lat %>, lng: <%= @post.lng %> }, //マーカーを落とす位置を決める（値はDBに入っている）
            map: map //マーカーを落とすマップを指定
          });

        }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initMap" async defer></script>

      </div>

      <h3>コメント一覧</h3>
      <div class="row">

        <div class="col-11 bg-light m-2 border p-2 comment_area">
          <%= render "comments/comments", post: @post, comment: @comment %>
        </div>

      </div>

    </div>
  </div>
</div>