<!DOCTYPE html>
<html>
  <head>
    <title>KoKo-iiYo</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md fixed-top">
        <%= link_to root_path, class:"navbar_brand" do %>
          <span class="title"><strong>KoKo-iiYo</strong></span>
        <% end %>
        <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navbar-menu"
          aria-controls="navbar-menu"
          aria-label="Toggle navigation">
          <i class="fas fa-ellipsis-h hamburger"></i>
        </button>
        <span class="ml-auto collapse navbar-collapse" id="navbar-menu">
          <% if user_signed_in? %>
           <div class="ml-auto">
              <li class="nav-item list-unstyled">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt nav-link text-light "%>
              </li>
            </div>
          <% else %>
            <div class="ml-auto">
              <li class="nav-item list-unstyled">
                <%= link_to "新規登録", new_user_registration_path, class:"fas fa-user-plus nav-link text-light" %>
              </li>
              <li class="nav-item list-unstyled">
                <%= link_to "ログイン", new_user_session_path, class:"fas fa-sign-in-alt nav-link text-light" %>
              </li>
            </div>
          <% end %>
        </span>
      </nav>
    </header>

    <script>
      // $(document).ready(function(){
      $('.navbar-toggler').on('click', function(event){
        $('#navbar-menu').toggleClass('active');
        event.preventDefault();
        const $hamburger = $(this).find('.hamburger')
        if($hamburger.hasClass('fas fa-ellipsis-h')){
          $hamburger.toggleClass('fas fa-ellipsis-h');
          $hamburger.toggleClass('fa fa-times');
        } else {
          $hamburger.toggleClass('fa fa-times');
          $hamburger.toggleClass('fas fa-ellipsis-h');
        }
      });
      // });
    </script>

    <% if flash[:notice] %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 col-md-1" style="height: 1px;"></div>
          <div class="col-10 col-md-11">
            <p id="notice" class="alert alert-primary"><%= flash[:notice] %></p>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>

    <!--<footer>-->
    <!--  <div class="container mt-5">-->
    <!--    <div class="row">-->
    <!--      <div class="mx-auto">-->
    <!--        <p>CopyRight KoKo-iiYo.inc</p>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</footer>-->

    <span id="back">
      <a href="">
        <%= image_tag asset_path('top_back.png'), data: {"turbolinks"=>false}, class:"top_back" %>
      </a>
    </span>

  </body>
</html>
