<!DOCTYPE html>
<html>
  <head>
    <title>KoKo-iiYo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <!--<div class="container-fluid">-->
          <%= link_to root_path, class:"navbar_brand" do %>
            <span class="title text-light"><strong>KoKo-iiYo</strong></span>
          <% end %>
          <span class="ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item list-unstyled">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt nav-link text-light "%>
              </li>
            <% else %>
              <li class="nav-item list-unstyled">
                <%= link_to "新規登録", new_user_registration_path, class:"fas fa-user-plus nav-link text-light" %>
              </li>
              <li class="nav-item list-unstyled">
                <%= link_to "ログイン", new_user_session_path, class:"fas fa-sign-in-alt nav-link text-light" %>
              </li>
            <% end %>
          </span>
        <!--</div>-->
      </nav>
    </header>

    <% if flash[:notice] %>
      <p id="notice" class="alert alert-primary"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>

    <!--<footer>-->
    <!--  <div class="container mt-5">-->
    <!--    <div class="row">-->
    <!--      <div class="mx-auto">-->
    <!--        <p>CopyRight KoKo-iiYo.inc</p>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</footer>-->

    <span id="back">
      <a href="">
        <%= image_tag asset_path('top_back.png'), data: {"turbolinks"=>false}, class:"top_back" %>
      </a>
    </span>

  </body>
</html>
